* {
    margin : 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #141d29;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffff;

}

.nav-logo{
    height : 60px;
    width: 100px;
}

.logo{
    background-image: url("IMG/AmazonLogo.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/** Box 2 **/
.navAddress{
    color: white;
}
#addr-first{
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 20px;
}
#addr-second{
    font-size: 0,90rem;
    font-weight: 550;
}
.add-icon{
    display: flex;
    align-items: center;
}

/** Box 3 **/
.navSearch{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 620px;
    margin-left: 5px;
}
.navSearch:hover{
    border: 3px solid orange;
    border-radius: 8px;
}
.search-select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-select option{
    display: flex;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.search-input{
    width: 100%;
    border: none;
}

.search-icon{
    color: #141d29;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(211, 151, 40);
}
.search-icon:hover{
    background-color: orange;
}

/** Box 4 **/
span{
    font-size: 0.7rem;
}
.nav-Second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Box 6 **/
.navCart i{
    font-size: 30px;
}
.navCart{
    font-weight: 700;
    padding: 2px;
}

/** Panel **/
.panel{
    height: 39px;
    background-color:  #222f3d;
    color: #ffff;
    display: flex;
    align-items: center;
}
.panel_All{
    display: flex;
    align-items: center;
    margin-left: 5rem;
}
.panel_All p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.panel_ops a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: white;
    margin: 1.15vw;
}
.panel_ops{
    width: 90%;
}

/** Cover Section **/
.coverSection{
    background-image: url("IMG/Cover.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.msg-section{
    background-color: #f5f6f6;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 7vh;
    font-family: Arial, Helvetica, sans-serif;
}
.msg-section a{
    text-decoration: none;
    color: #2162a1;

}
body{
    background-color: #b0e1b087;
}

/** Product Body **/
.box{
    display: flex;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.Product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-content{
    width: 300px;
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.box-content h2{
    font-family:Arial, Helvetica, sans-serif;
}
.box-img{
    height: 300px;
    /* width: 300px; */
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content a{
    text-decoration: none;
    color:#2162a1;
}

/** Footer **/
footer{
    background-color: #374758;
}
.foot-panelOne{
    height: 15px;
    padding: 17px;
    margin-top: 15px;
}
.foot-panelOne:hover{
   background-color: #4d6279;
}
.foot-panelOne a{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 0.85rem;
}

.foot-panelTwo{
    height: 400px;
    color: white;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul p{
    font-size: 16px;
    font-weight: 550;
}
ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    margin-top: 10px;
    font-size: 14px;
}
ul a:hover{
    text-decoration: underline;
}

.foot-panelThree{
    height: 70px;
    /* background-color: #222f3d; */
    border-top: 0.2px solid rgba(255, 255, 255, 0.532);
}

.foot-panelThree{
  background-color: #141d29;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo{
    height: 60px;
    width: 100px;
    background-image: url(IMG/AmazonLogo.jpg);
    background-size: cover;
}

.language{
    display: inline;
}

/** footer-panelFour **/
.foot-panelLast{
    height: 70px;
    background-color: #141d29;
}
.foot-panelLast ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
}
.foot-panelLast a{
    text-decoration: none;
    color: #DDDDDD;
    font-size: 13px;
}
.foot-panelLast p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDDDDD;
    font-size: 13px;
    margin-top: 0.5vh;
}

