* {
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #141d29;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffff;

}

.nav-logo{
    height : 53px;
    width: 100px;
}

.logo{
    background-image: url("IMG/AmazonLogo.jpg");
    background-size: cover;
    background-position: center;
    height: 52px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/** Box 2 **/
.navAddress{
    color: white;
}
#addr-first{
    font-size: 0.75rem;
    color: #cccccc;
    margin-left: 20px;
}
#addr-second{
    font-size: 0,90rem;
    font-weight: 550;
}
.add-icon{
    display: flex;
    align-items: center;
}

/** Box 3 **/
.navSearch{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 620px;
    margin-left: 5px;
}
.navSearch:hover{
    border: 3px solid orange;
    border-radius: 8px;
}
.search-select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-input{
    width: 100%;
    border: none;
}

.search-icon{
    color: #141d29;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(211, 151, 40);
}
.search-icon:hover{
    background-color: orange;
}

/** Box 4 **/
span{
    font-size: 0.7rem;
}
.nav-Second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Box 6 **/
.navCart i{
    font-size: 30px;
}
.navCart{
    font-weight: 700;
    padding: 2px;
}

/** Panel **/
.panel{
    height: 39px;
    background-color:  #222f3d;
    color: #ffff;
    display: flex;
    align-items: center;
}
.panel_All{
    display: flex;
    align-items: center;
    margin-left: 5rem;
}
.panel_All p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.panel_ops a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: white;
    margin: 1.15vw;
}
.panel_ops{
    width: 90%;
}
